.first{
    width: 20%;
    height: 20%;
    background-color: blue;
    transition: all 1s;
    margin: 5%;
}

.first:hover{
    width: 35%;
    height: 35%;
    background-color: blueviolet;
    margin: 1%;
}